.btn,
.cmn--btn {
  padding: 10px 25px;
  font-weight: 600;
  outline: none !important;
  box-shadow: 0 3px 25px 3px hsl(var(--dark) / 0.2) !important;
  @extend %transition;
  border-radius: 5px 25px 5px 5px;
  z-index: 1;
  &.btn--lg {
    padding: 13px 45px !important;
    @include breakpoint(lg) {
      font-size: 18px;
    }
  }
  &.btn--md {
    padding: 8px 25px !important;
    font-size: 15px;
  }
  &.btn--sm {
    padding: 5px 15px !important;
    font-size: 14px;
  }
  &.btn--xs {
    padding: 0px 10px !important;
    font-size: 13px;
  }
}
.cmn--btn {
	display: flex;
	align-items: center;
	gap: 8px;
	img {
		max-width: 22px;
	}
	&:hover {
		color: hsl(var(--white)) !important ;
		border-color: hsl(var(--base-600)) !important ;
		background-color: hsl(var(--base-600));
	}
}

$colors: "primary" hsl(var(--primary)), "secondary" hsl(var(--secondary)),
  "success" hsl(var(--success)), "danger" hsl(var(--danger)),
  "warning" hsl(var(--warning)), "info" var(--info), "white" hsl(var(--white)),
  "dark" hsl(var(--dark)), "base" hsl(var(--base));

@each $name, $color in $colors {
  .btn--#{$name} {
    background-color: $color;
    border: 2px solid $color;
    color: hsl(var(--white));
    &:hover {
      color: $color;
    }
  }
}
.btn--white {
  color: hsl(var(--base));
}

@each $name, $color in $colors {
  .btn--outline-#{$name} {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;
    &:hover {
      color: hsl(var(--white));
      border-color: $color;
      background-color: $color;
    }
  }
}
.btn--outline-white {
  color: hsl(var(--body));
  border: 2px solid hsl(var(--border));
}
